.about_section-img {
    border-radius: 50%;
    overflow: hidden;
    transition: var(--transition);
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 500px; /* Adjust width as needed */
    height: 400px; /* Adjust height as needed */
}

.about_section-content {
    text-align: center; /* Center text horizontally */
    margin-top: 1rem; /* Add margin to separate image and content */
}

.about_section-content h1 {
    margin-bottom: 1rem; /* Reduce margin for h1 */
}

.about_approach-container,
.about_education-container,
.about_engagement-container {
    padding: 20px; /* Adjust the value as needed */
    display: grid;
    grid-template-columns: 40% 50%;
    gap: 10%;
}

.about_approach-container > div,
.about_education-container > div,
.about_engagement-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
