nav {
    height: 5rem;
    width: 100vw;
    background-color: var(--primary-hue);
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}
/* only shows in medium and small screens */

.nav_toggle-btn{
    display: none;
}

.nav_container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


.logo-img {
    width: 200px; /* Adjust the width as needed */
   
    height: 75px; /* Ensure height matches width to create a perfect circle */
    
}

.nav_links {
    display: flex;
    gap: 3.5rem;
    align-items: center;
}

.nav_links a{
    transition: var(--transition);
}

.nav_links a:hover{
    color: var(--color-v-600);
}

.active-nav {
    position: relative;

}

.active-nav::after{
    content: '';
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    background: var(--primary-hue);
    position: absolute;
    left: calc(50% - 0.6rem);
    transform: rotate(45deg);
    margin-top: 0.9rem;
}

/* media queries in medium and small screens */

@media screen and (max-width: 1024px){
    .nav_toggle-btn {
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        cursor: pointer;
    }
    .nav_toggle-btn svg {
        color: var(--color-t-50);
    }
    .nav_links{
        position: absolute;
        top: 100%;
        right: 0;
        flex-direction: column;
        gap: 0;

    }
    .active-nav, .active-nav::after {
        display: none;
    }

    .nav_links li {
        height: 4rem;
        width: 100%;
        box-shadow: 3rem 2rem 18rem rgba(32, 14, 39, 0.4);
        animation: fadeIn 0.5s ease forwards;
    }
    .nav_links li a{
        background-color: var(--primary-hue);
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 1rem 5rem 1rem 3rem;
    }
    .show_nav{
        display: flex;

    }
    .hide_nav{
        display: none;
    }
    @keyframes fadeIn {
        from {
          opacity: 0;
          transform: translateY(-10px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
      
}


