*, *::before, *::after {
    margin:  0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --primary-hue: #a500ff;
    --gray-hue: 240;
    --color-primary: var(--primary-hue);
    --color-v-600: #290536;
    --color-t-100: #9013FE;
    --color-t-50: #e7e7e7;
    
    --container-width-lg: 80%;
    --container-width-md: 90%;

    --transition: all 500ms ease;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-hue);
    line-height: 1.7;
    overflow-x: hidden;
    background: var(--color-v-600) ;
}

.container{
    width: var(--container-width-lg);
    max-width: 1920px;
    margin: 0 auto;
    margin-inline: auto;
}

h1, h2, h3, h4, h5, h6{
    line-height: 1.2;
    color: var(--color-t-100);
}
h1 {
   font-size: 3rem;

}
h2{
    font-size: 2rem;
}
a {
    color: var(--color-t-50)
}
img{
    display: block;
    object-fit: cover;
    width: 100%;
}